*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: "Plain Light";
    color: rgb(255, 255, 255);
    background-color: #0b0b0b;
    
    
}



#crsr{
    height:2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: rgb(151, 150, 150) 1px solid;
    /* background-color: white; */
    position: fixed;
    z-index: 9999;
    transform: translate(-50%,-50%);
    
}
#loder{
    position: fixed;
    z-index: 999;
    height: 100vh;
    width: 100%;
    background-color:#0b0b0b;
    padding: 25vh 10vw;
}
.line{
    /* background-color: red; */
    /* line-height: fit-content; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2vw 
}

#line-num{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vw
}

#line-num #grow {
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

 #line-num h5 , #line-num h6{
    font-family: "silk serif";
    font-size: 4vw;
    font-weight: 300;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    animation-duration: 2s;
    animation-delay: 0.02s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 400;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 400;
        opacity: 0;
    }
    50%{
        font-family: 'silkserif';
        -webkit-text-stroke: 1px #fff; 
        font-weight: 400;
        color: transparent;
        opacity: 1;

    }
    100%{
        font-family: 'silkserif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        color: transparent;
        opacity: 0;
    }
    
}    
    

#wait{
    /* background-color: red; */
    margin-top: 1.6vh;
    text-align: center;
    font-size: 1vw;
}









#main{
    position: relative;
    background-color: black;
    
}




#page1{
    position: relative;
    background-color:#151515 ;
    height: 100vh;
    width: 100%;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.3vw;
}
#page1 #nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2vw ;
    font-size: 0.9vw;
    font-weight: 500;
}

.hero{
    /* background-color: rgb(47, 69, 61); */
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    

}
#hero-3{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#hero-3 h2{
    font-size:7vw ;
    text-transform: uppercase;
    line-height: 7vw;
}

.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{ 
    
    font-size:7vw ;
    text-transform: uppercase;
    line-height: 7vw;
}

.hero h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    
}